<h2>加入購物車</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>請輸入數量</h4>
        <div class="form-group">
            數量
            <input type="hidden" name="txtFId" value="@ViewBag.FId" />
            <div class="col-md-10">
                @Html.TextBox("txtCount", "1", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="購買" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("取消", "List")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
