@model prjMvcCoreDemo.Models.TProduct

@{
    ViewData["Title"] = "Create";
}

<h1>建立產品資料</h1>

<h4>請輸入產品資料</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="FName" class="control-label"></label>
                <input asp-for="FName" class="form-control" />
                <span asp-validation-for="FName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FQty" class="control-label"></label>
                <input asp-for="FQty" class="form-control" />
                <span asp-validation-for="FQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FCost" class="control-label"></label>
                <input asp-for="FCost" class="form-control" />
                <span asp-validation-for="FCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FPrice" class="control-label"></label>
                <input asp-for="FPrice" class="form-control" />
                <span asp-validation-for="FPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FImagePath" class="control-label"></label>
                <input asp-for="FImagePath" class="form-control" />
                <span asp-validation-for="FImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="送出並建立" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">取消</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
