@model prjMvcCoreDemo.Models.TProduct

@{
    ViewData["Title"] = "Edit";
}

<h1>修改產品資訊</h1>

<h4>請輸入資訊</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="FId" value="@Model.FId" />
            <div class="form-group">
                <label asp-for="FName" class="control-label"></label>
                <input asp-for="FName" class="form-control" />
                <span asp-validation-for="FName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FQty" class="control-label"></label>
                <input asp-for="FQty" class="form-control" />
                <span asp-validation-for="FQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FCost" class="control-label"></label>
                <input asp-for="FCost" class="form-control" />
                <span asp-validation-for="FCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FPrice" class="control-label"></label>
                <input asp-for="FPrice" class="form-control" />
                <span asp-validation-for="FPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="file" name="photo" />
            </div>
            <div class="form-group">
                <input type="submit" value="送出並更新" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">取消</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
